gitlab:
  # gitlab-runner:
  #   install: true
  #   rbac:
  #     create: true
  #   runners:
  #     locked: false
  #     # Set secret to an arbitrary value because the runner chart renders the gitlab-runner.secret template only if it is not empty.
  #     # The parent/GitLab chart overrides the template to render the actual secret name.
  #     secret: "nonempty"
  #     config: |
  #       [[runners]]
  #         name = "default-k8s"
  #         run_untagged = true
  #         request_concurrency = 2
  #         [runners.kubernetes]
  #           image = "ubuntu:24.04"

  prometheus:
    install: false

  # postgresql:
  #   persistence:
  #     volumeName: gitlab-postgres
  #     storageClass: local-storage
  minio:
    persistence:
      volumeName: pv-gitlab-minio
      storageClass: local-storage
  # redis:
  #   master:
  #     persistence:
  #       volumeName: gitlab-redis
  #       storageClass: local-storage
  # gitlab:
  #   gitaly:
  #     persistence:
  #       volumeName: gitlab-gitaly
  #       storageClass: local-storage

  # gitlab:
  #   migrations:
  #     enabled: true
  upgradeCheck:
    enabled: true
  installCertmanager: false
  certmanager:
    installCRDs: false
  certmanager-issuer:
    email: frantisek.sklenar@gmail.com
  nginx-ingress: &nginx-ingress
    enabled: false
  global:
    ingress:
      enabled: false
    # ingress:
    #   apiVersion: "networking.k8s.io/v1"
    #   class: "nginx"
    hosts:
      domain: linuxadmin.eu
      externalIP: 192.168.0.202
