headlamp:
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  pluginsManager:
    enabled: true
    resources:
      requests:
        cpu: "100m"
        memory: "1024Mi"
      limits:
        memory: "4Gi"
  env:
    - name: KUBERNETES_SERVICE_HOST
      value: "192.168.0.202"
    - name: KUBERNETES_SERVICE_PORT
      value: "6443"
